@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-gray-900 bg-white dark:bg-slate-900 dark:text-slate-100 transition-colors duration-300;
  }
}

